/*====================== Стили для главного окна (розовый фон, 
синий заголовок, текст заголовка, кнопка добавления задачи 
и в будущем счётчик выполненых задач)===========================*/

.mainMenu {
  position: absolute;
  background: #FFDEF2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-repeat: space;
  overflow: auto; /* Этот параметр и высота необходимы для продолжения фона при прокрутке*/
  height: 100%;
}

.titleMainMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  text-align: center;
  z-index: 1001;
  background: rgb(126, 223, 255);
}

.textTitle {
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 45%;
  font-size: 25pt;
  margin-top: 1.5%;
}

.buttonsRightCreateTask {
  position: fixed;
  right: 2%;
  top: 15%;
  background-color: rgb(255, 125, 218);
  border-radius: 25px;
  cursor: pointer;
}

.noTasks {
  position: fixed;
  text-align: center;
  top: 40%;
  left: 45%;
  font-size: 30pt;
}

/* ===============Стили для списка задач=============== */

.taskList {
  position: absolute;
  justify-content: center;
  padding-top: 8%;
  left: 30%;
  right: 30%;
  width: 40%;
  z-index: 999;
  display: table-row-group;
  table-layout: fixed;
  overflow-wrap: break-word; /* Надо поиграться с параметрами, чтобы настроить перенос слов без пробелов на следующую строку */
  /* word-break: break-all; */
    /* word-break: break-all  */
  /* hyphens: auto; */
  /* white-space: normal; */
  /* box-sizing: border-box; */
}

.listTBody {
  display: block;
  border: 2px dotted black;
  border-collapse: separate;
  border-spacing: 4px;
}

.buttonsStateDelete input {
  position: relative;
  background-color: rgb(255, 125, 218);
  border-radius: 25px;
  cursor: pointer;
  left: 1%;
}

/* =====================Стили для формы создания задачи=================== */

.inputForm {
  z-index: 0;
  padding: 50px;
  border-radius: 25px;
  background: rgb(126, 223, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.titleAddTask {
  position: fixed;
  top: 0px;
  left: 0px;
  block-size: 200px;
  height: 50px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background: rgb(255, 125, 218);
}

.titleAddTaskText {
  position: absolute;
  text-align: center;
  left: 35%;
}

.buttonsRightFormAddTask input {
  position: relative;
  left: 50%;
  background-color: rgb(255, 125, 218);
  border-radius: 25px;
  cursor: pointer;
}

.inputTitle {
  width: 90%;
  height: 20%;
}

textarea {
  width: 90.5%;
  height: 20%;
  resize: none;
}